$body: #E5E5E5;
$base-color: #130577;
$base-color-light: #2850B9;
$base-color-light-2: #2a1d84;

$base-warning: #F8AB38;
$base-warning-light: #f8b34b;

$base-pink: #EF344F;
$base-pink-light: #f04860;


$white: #FFFFFF;
$black: #000000;



$light-ash: #F7F8FA;


$linear-red: linear-gradient(101.69deg, #DA333D 0.51%, #B7121B 101.16%);
$linear-orange: linear-gradient(101.69deg, #F8713C 0.51%, #D73D00 101.16%);
